<div class="container">
    <h1>Add Competition</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

        <div class="row">
            <div class="col-md-6">
                <label for="nameInput">Name</label>
                <input class="form-control" type="text" id="nameInput" name="name" [(ngModel)]="competition.name">
            </div>

            <div class="col-md-6">
                <label for="dateInput">Date</label>
                <input class="form-control" type="datetime-local" id="dateInput" name="date" [(ngModel)]="competition.date">
            </div>

            <div class="col-md-6">
                <label for="maxAmountOfParticipantsInput">Maximum amount of participants</label>
                <input class="form-control" type="number" id="maxAmountOfParticipantsInput" name="maxAmountOfParticipants" [(ngModel)]="competition.maxAmountOfParticipants">
            </div>

            <div class="col-md-6">
                <label for="minutesPerMatchInput">Match duration in minutes</label>
                <input class="form-control" type="number" id="minutesPerMatchInput" name="minutesPerMatch" [(ngModel)]="competition.minutesPerMatch">
            </div>

            <div class="col-md-6">
                <competition-users-input [competition]='competition'></competition-users-input>
            </div>

            <div class="col-md-6">
                <label for="typeInput">Type</label>
                <select class="form-control" name="type" id="typeInput" [(ngModel)]="competition.type">
                    <option value="TOURNAMENT">Tournament</option>
                    <option value="POULE">Poule</option>
                    <option value="KNOCKOUT">Knock-out</option>
                </select>
            </div>

        </div>

        <div *ngIf="competition.type == 'TOURNAMENT'" class="row">
            <div class="col-md-12" *ngIf="competition.type == 'TOURNAMENT'">
                <label for="numberOfRoundsInput">Number of rounds</label>
                <input class="form-control" type="number" id="numberOfRoundsInput" name="numberOfRounds" [(ngModel)]="competition.numberOfRounds">
            </div>
        </div>

        <div *ngIf="competition.type == 'POULE'" class="row">
            <div class="col-md-12" *ngIf="competition.type == 'POULE'">
                <label for="numberOfPoulesInput">Number of poules</label>
                <input class="form-control" type="number" id="numberOfPoulesInput" name="numberOfPoules" [(ngModel)]="competition.numberOfPoules">
            </div>

            <div *ngIf="competition.numberOfPoules && competition.numberOfPoules > 0" class="col-md-12">
                <span class="btn btn-success" (click)="generatePoules()">Generate Poules</span>
            </div>

            <div *ngIf="poules" class="col-md-12">
                <label>Poules:</label>
            </div>

            <div class="col-md-12" *ngIf="poules">
                <ul *ngFor="let poule of poules" class="col-md-3 list-group" [dragula]='"bag-one"' [dragulaModel]='poule'>
                    <li class="list-group-item" *ngFor="let participant of poule.participants">
                        <span>{{participant.id}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>