<div *ngIf="competition.type != 'KNOCKOUT'">
    <div class="row col-md-12" *ngFor="let round of competition.rounds">
        <table class="table table-bordered table-striped col">
            <thead>
                <tr>
                    <th>
                        <span>Round:</span>
                        <span>{{round.number}}</span>
                    </th>
                    <th></th>
                    <th></th>
                    <th>Time</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let match of round.matches" match-simple [match]="match">
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="competition.type == 'KNOCKOUT'" style="width: 100%;">
    <knockout-scheme [matches]="matches"></knockout-scheme>
</div>