@import '../../variables.scss';

table {
    margin-top: $default-margin;
}

.btn {
    width: $default-button-width;
}

.btn.btn-toggle {
    background-color: #a3a3a3;
    color: white;
}

.btn.btn-toggle.toggled {
    background-color: lightgreen;
}