<div class="container">

    <a class="btn btn-success" [ngClass]="{'hidden': !auth.user}" routerLink="/competitions/add" routerLinkActive="active">Add Competition</a>

    <button class="btn btn-toggle" [ngClass]="{'toggled': filterCreated}" [ngClass]="{'hidden': !auth.user || competition.creator !== auth.user.uid}" (click)="toggleOwned()">Filter created</button>
    <button class="btn btn-toggle" [ngClass]="{'toggled': filterParticipating}" [ngClass]="{'hidden': !auth.user || competition.creator !== auth.user.uid}" (click)="toggleParticipating()">Filter Participating</button>


    <table class="table table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Date
            </th>
            <th>
                Detail
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
        <tr *ngFor="let competition of filteredCompetitions" [ngClass]="{'active': !auth.user || competition.creator === auth.user.uid}">
            <td>{{ competition.name }}</td>
            <td>{{ competition.type }}</td>
            <td>{{ competition.date }}</td>
            <td>
                <a class="btn btn-info" routerLink="/competitions/{{competition.id}}" routerLinkActive="active">Details</a>
            </td>
            <td>
                <a class="btn btn-warning" [ngClass]="{'hidden': !auth.user || competition.creator !== auth.user.uid}" routerLink="/competitions/{{competition.id}}/edit" routerLinkActive="active">Edit</a>
            </td>
            <td>
                <button class="btn btn-danger" [ngClass]="{'hidden': !auth.user || competition.creator !== auth.user.uid}" (click)='deleteCompetition(competition)'>Delete</button>
            </td>
        </tr>
    </table>
</div>