<div class="ui raised segment">
    <h2 class="ui header">Add Match</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

        <div class="field">
            <label for="statusInput">Status</label>
            <select name="status" id="statusInput" [(ngModel)]="match.status">
                <option value="OPEN">Open</option>                    
                <option value="STARTED">Gestart</option>
            </select>
        </div>
        <div class="field">
            <label for="startingTimeInput">Starting Time</label>
            <input type="datetime-local" id="startingTimeInput" name="startingTime" [(ngModel)]="match.startingTime">
        </div>

        <button type="submit" class="ui button">Submit</button>
    </form>
</div>