<div class="container">
    <a class="btn btn-success" [ngClass]="{'hidden': !auth.user}" routerLink="/matches/add" routerLinkActive="active">Add Match</a>

    <table class="table table-hover">
        <tr>
            <th>
                Starting time
            </th>
            <th>
                Status
            </th>
            <th>
                Detail
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
        <tr *ngFor="let match of matches">
            <td>{{ match.startingTime }}</td>
            <td>{{ match.status }}</td>
            <td>
                <a class="btn btn-info" routerLink="/matches/{{match.id}}" routerLinkActive="active">Detail</a>
            </td>
            <td>
                <a class="btn btn-warning" [ngClass]="{'hidden': !auth.user || match.creator !== auth.user.uid}" routerLink="/matches/{{match.id}}/edit" routerLinkActive="active">Edit</a>
            </td>
            <td>
                <button class="btn btn-danger" [ngClass]="{'hidden': !auth.user || match.creator !== auth.user.uid}" (click)='deleteMatch(match)'>Delete</button>
            </td>
        </tr>
    </table>
</div>