@import '../../variables.scss';

.table-limited {
    width: $competition-table-width;
}

.table-double {
    width: 2 * $competition-table-width;
}

.button-spacing {
    margin-bottom: $default-margin;
}