<div class="container">

    <h1>Details for {{ competition.name }}</h1>

    <a class="btn btn-info" routerLink="/competitions/{{competition.id}}/scheme" routerLinkActive="active">Show scheme</a>    
    <br><br>    
    <table class="table table-sm">
        <tr>
            <th>Id</th>
            <td>{{competition.id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{competition.name}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{competition.type}}</td>
        </tr>
        <tr>
            <th>Creator</th>
            <td>{{creator.name}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{competition.date}}</td>
        </tr>
        <tr>
            <th>Max Participants</th>
            <td>{{competition.maxAmountOfParticipants}}</td>
        </tr>
        <tr>
            <th>Match duration</th>
            <td>{{competition.minutesPerMatch}}</td>
        </tr>
    </table>

    <competition-users [competition]='competition'></competition-users>
</div>